@import url("https://use.typekit.net/alw5eal.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #212121;
    --mintGreen: #4FB68F;
    --lightGreen: #6ACEA5;
    --white: #ededed;
    --mainFont: 'Montserrat', sans-serif;
    --subFont: "courier", sans-serif;
}

*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    outline: none;
    border: none;
}

body{
    background-color: var(--black);
    margin: 0;
    font: var(--mainFont);
    font-size: 13px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


section{
    min-height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    position: relative;
    padding: 0 50px 0 50px;
}

h1{
    font-size: 45px;
    font-family: var(--mainFont);
    color: var(--white);
    font-weight: 300;
    max-width: 500px;
}

.item1{
    -ms-flex-order: 1;
    flex-grow: 3;
}

.icon{
    max-width: 50px;
}

.imgMobile{
    max-width: 500px;
    display: none;
}

.item1 p{
    font-size: 20px;
    font-family: var(--mainFont);
    color: var(--white);
    font-weight: 300;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.item1 span{
    font-family: var(--subFont);
    color: var(--mintGreen);
    margin-right: 10px;
}

.item1 button{
    background-color: var(--lightGreen);
    width: 233px;
    height: 50px;
    border-radius: 20px;
    font-size: 15px;
}

.item1 button:hover{
    cursor: pointer;
}

.item2{
    -ms-flex-order: 2;
    flex-grow: 2;
    position: relative;
}

.item2 img{
    max-height: 500px;
}

.hover{
    position: absolute;
    right: 0;
    z-index: 1;
}

.nonHover {
    z-index: 10;
    right: 0;
    position: inherit;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.nonHover:hover {
    opacity: 0;
}

.projects{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projects p{
    color: var(--white);
    font-family: var(--mainFont);
    padding: 0 10px 0 10px;
    line-height: 20px;
}

.projects span{
    color: var(--mintGreen);
    font-family: var(--subFont);
    margin-right: 10px;
}

.card{
    width: 316px;
    height: 600px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    border-radius: 20px;
    background-color: var(--black);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: relative;
}



.card img{
    width: auto;
    max-height: 60px;
    object-fit: cover;
}

.screenshot{
    min-width: 300px;
    min-height: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
    border-radius: 20px;
}

.icon-container{
    padding: 0 10px 0 10px;
    position: absolute;
    bottom: 20px;
}

.icon-container img{
    max-width: 34px;
    margin-right: 20px;
}

.icon-container img:hover{
    cursor: pointer;
}

.description{
    margin-top: 30px;
}

@media screen and (min-width: 1440px) {
    .card{
        width: 400px;
        height: 700px;
    }

    .hero{
        max-width: 1000px;
        justify-content: center;
        align-items: center;
    }

    .projects{
        margin-bottom: 150px;
    }
    
}

@media screen and (max-width: 1108px){
    section{
        flex-direction: column;
        padding: 0 20px 0 20px;
    }

    .item1{
        margin-bottom: 20px;
        margin-top: 150px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }


    .item2{
        display: none;
    }

    .projects{
        flex-direction: column;
    }

    .card{
        margin-bottom: 20px;
    }

    h1{
        text-align: center;
    }

    .hero{
        margin-top: 0;
        height: 100vh;
    }
}


